In [2]:
import pymysql

In [3]:
db = pymysql.connect(host= "localhost", database="PI01", user="root", passwd= "MySQL1234" )

In [4]:
cursor = db.cursor()
consulta1 = "SELECT `year` as 'AÃ±o', count(*) as 'Cantidad de Carreras' FROM races GROUP BY `year` ORDER BY count(*) DESC LIMIT 1;"
cursor.execute(consulta1)
datos1 = cursor.fetchone()
db.close
rta1 = datos1[0]
rta1

2021

In [5]:

consulta2 = "SELECT d.forename, d.surname, count(*) FROM results r JOIN drivers d ON (r.driverId = d.driverId) WHERE positionOrder = 1 GROUP BY r.driverId ORDER BY count(*) DESC LIMIT 1;"
cursor.execute(consulta2)
datos2 = cursor.fetchone()
rta2 = datos2[0:2]
rta2

('Lewis', 'Hamilton')

In [8]:
consulta3 = "SELECT r.circuitId, c.`name`, count(*) FROM races r JOIN circuitos c ON ( r.circuitId = c.circuitId) GROUP BY r.circuitId ORDER BY 3 DESC LIMIT 1;"
cursor.execute(consulta3)
datos3 = cursor.fetchone()
rta3 = datos3[1]
rta3

'Autodromo Nazionale di Monza'

In [7]:
consulta4 = "SELECT r.driverId, d.forename, d.surname, c.constructorId, c.`name`, c.nationality , SUM(r.points) as Puntos FROM results r  JOIN drivers d ON (r.driverId = d.driverId) JOIN constructors c ON (r.constructorId = c.constructorId) WHERE (c.nationality = 'American' OR c.nationality = 'British') GROUP BY r.driverId ORDER BY Puntos DESC LIMIT 1;"
cursor.execute(consulta4)
datos4 = cursor.fetchone()
rta4 = datos4[1:3]
rta4

('Jenson', 'Button')

In [75]:
db.close()