In [2]:
import pandas as pd

In [4]:
dfPitS = pd.read_json('../PI01_DATA03/Datasets/pit_stops.json')
dfPitS.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [6]:
dfFinalPitS = dfPitS
dfFinalPitS.to_csv("../PI01_DATA03/Datasets/pit_stops.csv",encoding="utf-8", index=False)