In [2]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_json('../PI01_DATA03/Datasets/drivers.json', lines=True)
df.head()

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,"{'forename': 'Nick', 'surname': 'Heidfeld'}",1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,"{'forename': 'Nico', 'surname': 'Rosberg'}",1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,"{'forename': 'Fernando', 'surname': 'Alonso'}",1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,"{'forename': 'Heikki', 'surname': 'Kovalainen'}",1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [11]:
df["number"].replace("\\N", "", inplace=True)

In [7]:
df["number"].replace("\\N", np.NaN, inplace=True)

In [13]:
df["code"].replace("\\N", "", inplace=True)

In [14]:
df.dtypes

driverId        int64
driverRef      object
number         object
code           object
name           object
dob            object
nationality    object
url            object
dtype: object

In [15]:
diccionario_drivers = {"driverId":[],
               "driverRef":[],
               "number":[],
               "code":[],
               "name":[],
               "surname":[],
               "dob":[],
               "nationality":[],
               "url":[]}

In [16]:
diccionario_drivers["driverId"] = [int(df["driverId"][i]) for i in range(df["driverId"].size)]
print(type(diccionario_drivers["driverId"]))
print(type(diccionario_drivers["driverId"][0]))
print(diccionario_drivers["driverId"][0:3])

<class 'list'>
<class 'int'>
[1, 2, 3]

In [17]:
diccionario_drivers["driverRef"] = [(df["driverRef"][i]) for i in range(df["driverRef"].size)]
print(type(diccionario_drivers["driverRef"]))
print(type(diccionario_drivers["driverRef"][0]))
print(diccionario_drivers["driverRef"][0:3])

<class 'list'>
<class 'str'>
['hamilton', 'heidfeld', 'rosberg']

In [18]:
diccionario_drivers["number"] = [(df["number"][i]) for i in range(df["number"].size)]
#print(type(diccionario_drivers["number"]))
#print(type(diccionario_drivers["number"][0]))
#print(type(diccionario_drivers["number"][1]))
print(diccionario_drivers["number"][0:3])
#[int("0") if value == "\\N" else value for value in diccionario_drivers["number"]]
#["hola" if value == "NA" else value for value in diccionario_drivers["number"]]
#print(type(diccionario_drivers["number"][1]))

[44, '', 6]

In [19]:
print(type(diccionario_drivers["number"][1]))

<class 'str'>

In [20]:
diccionario_drivers["code"] = [(df["code"][i]) for i in range(df["code"].size)]
print(type(diccionario_drivers["code"]))
print(type(diccionario_drivers["code"][0]))
print(diccionario_drivers["code"][0:3])

<class 'list'>
<class 'str'>
['HAM', 'HEI', 'ROS']

In [21]:
diccionario_drivers["name"] = [(df["name"][i]["forename"]) for i in range(df["name"].size)]
print(type(diccionario_drivers["name"]))
print(type(diccionario_drivers["name"][0]))
print(diccionario_drivers["name"][0:3])

<class 'list'>
<class 'str'>
['Lewis', 'Nick', 'Nico']

In [22]:
diccionario_drivers["surname"] = [(df["name"][i]["surname"]) for i in range(df["name"].size)]
print(type(diccionario_drivers["surname"]))
print(type(diccionario_drivers["surname"][0]))
print(diccionario_drivers["surname"][0:3])

<class 'list'>
<class 'str'>
['Hamilton', 'Heidfeld', 'Rosberg']

In [23]:
diccionario_drivers["dob"] = [(df["dob"][i]) for i in range(df["dob"].size)]
print(type(diccionario_drivers["dob"]))
print(type(diccionario_drivers["dob"][0]))
print(diccionario_drivers["dob"][0:3])

<class 'list'>
<class 'str'>
['1985-01-07', '1977-05-10', '1985-06-27']

In [24]:
diccionario_drivers["nationality"] = [(df["nationality"][i]) for i in range(df["nationality"].size)]
print(type(diccionario_drivers["nationality"]))
print(type(diccionario_drivers["nationality"][0]))
print(diccionario_drivers["nationality"][0:3])

<class 'list'>
<class 'str'>
['British', 'German', 'German']

In [25]:
diccionario_drivers["url"] = [(df["url"][i]) for i in range(df["url"].size)]
print(type(diccionario_drivers["url"]))
print(type(diccionario_drivers["url"][0]))
print(diccionario_drivers["url"][0:3])

<class 'list'>
<class 'str'>
['http://en.wikipedia.org/wiki/Lewis_Hamilton', 'http://en.wikipedia.org/wiki/Nick_Heidfeld', 'http://en.wikipedia.org/wiki/Nico_Rosberg']

In [26]:
dfFinalDrivers = pd.DataFrame(diccionario_drivers)
dfFinalDrivers

,driverId,driverRef,number,code,name,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,Pietro,Fittipaldi,1996-06-25,Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849,851,aitken,89,AIT,Jack,Aitken,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,,SCH,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher

In [27]:
dfFinalDrivers.tail(120)

,driverId,driverRef,number,code,name,surname,dob,nationality,url
733,733,miller,,,Chet,Miller,1902-07-19,American,http://en.wikipedia.org/wiki/Chet_Miller
734,734,ball,,,Bobby,Ball,1925-08-26,American,http://en.wikipedia.org/wiki/Bobby_Ball_(auto_...
735,735,tornaco,,,Charles,de Tornaco,1927-06-07,Belgian,http://en.wikipedia.org/wiki/Charles_de_Tornaco
736,736,laurent,,,Roger,Laurent,1913-02-21,Belgian,http://en.wikipedia.org/wiki/Roger_Laurent
737,737,obrien,,,Robert,O'Brien,1908-04-11,American,http://en.wikipedia.org/wiki/Robert_O%27Brien_...
...,...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,Pietro,Fittipaldi,1996-06-25,Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849,851,aitken,89,AIT,Jack,Aitken,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,,SCH,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher

In [29]:
dfFinalDrivers.to_csv("../PI01_DATA03/Datasets/drivers.csv",encoding="utf-8", index=False)